@import"./reset.css";
@import"./variable.css";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    box-sizing: border-box;  /* 모든요소를 화면안에 포함시킴 */
   
}

body{
   background-color: var(--background-purple);
   color: #fff; 
    font-family: 'Gothic A1', sans-serif;
}
input{
    border:none;
    outline: none;
    appearance: none;
}
.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative{
    position: relative;
}
